@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

:root {
    /* neutral */
    --cl-awht: hsl(0, 0%, 98%);
    --cl-mgry: hsl(0, 0%, 41%);
    --cl-ablk: hsl(0, 0%, 8%);
    
    /* f-size */
    --fs-p: 18px;
    --ff-ep: 'Epilogue', sans-serif;
}

/* elements */

a {
    text-decoration: none;
    font-family: var(--ff-ep);
    font-size: 1em;
}

a:visited {
    color: var(--cl-mgry);
}

a:hover {
    color: var(--cl-ablk);
    font-weight: bold;
}

body {
    position: relative;
    min-height: 100vh;
    margin: 0;
}

footer {
    position: absolute;
    bottom: 0;
    font-size: 11px;
    text-align: center;
    width: 100%;
}

footer a {
    color: hsl(228, 45%, 44%);
}

main {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 15px;
}

/* IDs */

#register {
    border: 2px solid var(--cl-mgry);
    border-radius: 1em;
}

#snapLogo {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Classes */

.closeDiv {
    margin: 0 !important;
}

.companyDiv {
    display: flex;
    flex-direction: column;
}

.companyDiv img, 
.featuresDiv img {
    margin-left: 15px;
    margin-right: 15px;
}

.companyDiv:hover, 
.featuresDiv:hover {
    cursor: pointer;
}

.companyLogos {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15%;
}

.dropdownCompany {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px !important;
}

.dropdownCompany a {
    display: flex;
    align-items: center;
    margin: 0px 14%;
}

.dropdownCompany a:hover {
    color: grey;
    transform: scale(1.1);
}

.dropdownFeatures {
    display: flex;
    flex-direction: column;
}

.dropdownFeatures a {
    display: flex;
    align-items: center;
    margin: 0px 6.5%;
}

.dropdownFeatures a:hover {
    color: var(--cl-mgry);
    transform: scale(1.01);
}

.dropdownFeatures a img {
    margin-right: 9%;
    width: 20px;
}

.featuresDiv {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    margin-bottom: 5% !important;
}

.imageDesktopDiv {
    display: none;
}

.imageMobile {
    width: 100%;
    height: 100%;
}

.moreBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9em;
    font-weight: 600;
    height: 50px;
    width: 150px;
    border-radius: 0.9em;
    border: none;
    background-color: var(--cl-ablk);
    font-family: var(--ff-ep);
    margin: auto;
    color: var(--cl-awht);
}

.moreBtn:visited {
    color: var(--cl-awht);
}

.loginAndRegister {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.loginAndRegister a {
    font-size: 14px;
    text-align: center;
    line-height: 40px;
    height: 40px;
    width: 100%;
    margin-bottom: 5px;
}

.sidebar {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow: hidden;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 200px;
    background-color: var(--cl-awht);
    font-family: var(--ff-ep);
    color: var(--cl-mgry);
    font-size: 16px;
    padding: 22px;
}

.sidebar div {
    margin: 6.5% 0;
}

.snapLogoDiv {
    margin-left: 2%;
    margin-right: 4.5%;
}

.text {
    font-family: var(--ff-ep);
    margin: 6% 4%;
}

.text p {
    color: var(--cl-mgry);
    font-size: 0.9em;
    line-height: 1.6;
    margin-bottom: 7%;
}

.hide {
    display: none !important;
}


.upsideDown {
    transform: rotate(180deg);
}

.wideScreen {
    display: none;
}

@media screen and (min-width: 1100px) {
    
    a {
        font-size: 0.8em;
    }

    main {
        display: flex;
        width: 100%;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        padding: 15px;
    }

    .companyDiv {
        position: relative;
    }

    .companyLogos {
        margin-top: 11%;
    }

    .dropdownCompany {
        position: absolute;
        top: 40px;
        background-color: var(--cl-awht);
        width: 150px;
        box-shadow: 0px 5px 10px var(--cl-mgry);
        border-radius: 0.6em;
        align-items: center;
    }

    .dropdownFeatures {
        position: absolute;
        top: 40px;
        right: 10px;
        background-color: var(--cl-awht);
        width: 190px;
        box-shadow: 0px 5px 10px var(--cl-mgry);
        border-radius: 0.6em;
    }

    .featuresDiv {
        position: relative;
        margin-top: 0;
        margin-bottom: initial !important;
    }

    .imageDesktop {
        width: 100%;
        height: 100%;
        max-height: 755px;
        max-width: 566px;
        min-height: 566px;
        min-width: 425px;
    }

    .imageDesktopDiv {
        display: initial;
        width: 58%;
    }

    .imageDiv {
        width: 50%;
        display: none;
    }

    .loginAndRegister {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        width: 200px;
        margin-left: auto;
        margin-right: 25px;
    }
    
    .loginAndRegister a {
        text-align: center;
    }

    .mainDiv {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
    }

    .menuDiv {
        display: none;
    }

    .moreBtn {
        height: 60px;
        width: 160px;
        font-family: var(--ff-ep);
        margin: 0;
        color: var(--cl-awht);
    }

    .moreBtn:hover {
        border: 1px solid var(--cl-ablk);
        background-color: var(--cl-awht);
        color: var(--cl-ablk);
    }

    .navItem {
        width: 100px;
    }

    .textPanel {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: start;
        height: 100%;
    }

    .text {
        margin-right: 100px;
        margin-top: 0;
        margin-bottom: 0;
        height: 100%;
    }

    .text h1 {
        font-size: 4.6em;
        margin-top: 70px;
        margin-right: 11%;
    }

    .text p {
        font-size: 1.2em;
        margin-bottom: 50px;
        margin-right: 20%;
    }

    .wideScreen {
        display: flex;
        justify-content: start;
        align-items: center;
        width: 100%;
    }
}